*{
    font-family: 'Poppins', sans-serif;
    padding: 0;
    margin: 0;
}

.nav{
    position: fixed;
    width: 100%;
    background-color: #be3144;
    top: 0;
    left: 0;
    box-shadow: 2px 0 rgba(0, 0, 0, 0.5);
    z-index: 10;
}

.nav ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.nav li{
    float: right;
}

.nav li a{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.nav li a:hover:not(.active){
    background-color: #45567d;
}

.About {
    width: 100%;
    height: 100vh;
    background-color: #303841;
}
.Work {
    width: 100%;
    height: 100vh;
    background-color: #45567d;
}
.Contact {
    width: 100%;
    height: 100vh;
    background-color: #303841;
}